/*
 * Empty Stylesheet file.
 */

/*Caspian ovrriding*/



/*Panels layout*/

/*#################### LOGIN PANEL ###################*/
.loginPanel{
    -fx-background-radius: 10;

    -fx-border-radius: 10;
    -fx-effect: innershadow(gaussian, rgba(100, 100, 100, 1), 15, 0.5, 0, 0);

    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.loginPanel .label, .button{

    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian ,lightgrey , 0,0,0,1 );
}
.loginPanel  .button{
    -fx-effect:null;
}

.loginPanel .login{
    -fx-background-color: linear-gradient(#3b3e37, #676d5d);
    -fx-text-fill:white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.loginPanel .shutDownButton{
    -fx-background-color: linear-gradient(#3b3e37, #676d5d);
    -fx-text-fill:white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}



/*#################### ERROR PANEL ###################*/
.errorPanel{
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-background-image: url("../images/alert.png");

    -fx-background-repeat: no-repeat;
    -fx-background-position:10; 
    -fx-background-color: #ffcc33;
}
.errorPanel .label{
    -fx-text-fill:white
}

/*#################### MAIN TOOLBAR ###################*/
.mainToolBarStyle{
    -fx-background-color: #bde6e6;

    -fx-effect: innershadow(three-pass-box, rgba(100, 100, 100, 1), 5, 0.5, 0, 0);
    -fx-border-style: solid;
    -fx-border-width: 1;

    -fx-border-color:black;



}


.logoutButton{
    -fx-background-image: url('../images/poweroff.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:5, 5; 
    -fx-border-color: transparent;
    -fx-border-width:0;

}

.popUpConfirm{
    -fx-background-color: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}


.popUpConfirm  .button{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3b3e37, #676d5d);
    -fx-text-fill:white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
.popUpConfirm .label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill:white;
    -fx-opacity:1;

}


